button {
    font-size: 48px;
    border-radius: 5px; 
    color: white;
    padding: 25px;
    border: none;
    cursor: pointer;
    text-align: center;
    font
}

p {
    font-size: 48px;
}

button:hover {
    background-color: #84BF89;
}

body {
    background-color: #d4a373;
}

#meat {
    background-color: #ccd5ae;
}

#veggie {
    background-color: #e9edc9;
}

#carb {
    background-color: #fefae0;
}