button {
    font-size: 48px;
    border-radius: 5px; 
    color: #fefae0;
    padding: 25px;
    border: none;
    cursor: pointer;
    text-align: center;
}

p {
    font-size: 48px;
    color: gray;
}

button:hover {
    background-color: #84BF89;
}

body {
    background-color: #fefae0;
}

#meatbutton {
    background-color: #ccd5ae;
}

#veggiebutton {
    background-color: #e9edc9;
    color: gray;
}

#carbbutton {
    background-color: #d4a373;
}